header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    align-items: left 20px;
    vertical-align: middle;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
}